<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img src="css/lib/img/icon1.png" alt="">
            <h2>Create a group</h2>
            <p>Everyone has favorite group they hang out with. Make it easier to connect by creating a CatchUp group.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="css/lib/img/icon2.png" alt="">
            <h2>Tell us when</h2>
            <p>We will ask you 3 simple questions and then pick the first available date and time for you. Don’t like the time we selected? No problem — suggest another time and open it up for a vote.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="css/lib/img/icon3.png" alt="">
            <h2>Plan the details</h2>
            <p>Since we take care of the scheduling, you can focus on the fun. What food do you want to eat? What memories do you want to create?</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>