<div id="intro">
<div class="step1">
    <p><img src="css/lib/img/logo.png"></p>
    <h1><span>Simple way</span> to CatchUp with your busy <span>friends</span>.</h1>
    <p>You invite your friends. We’ll schedule the fun.</p>
    <p><button type="button" class="facebook-reg"></button></p>
</div>
<div class="step2 hidden">
    <p><img src="css/lib/img/logo-2.png"></p>
    <h1><span>Hooray!</span> You are one step closer to CatchUp with your <span>friends</span>.</h1>
    <p>Sync your calendar and let us handle the scheduling.</p>
    <p><button type="button" class="googleSync"></button></p>
</div>
</div>